
.card-text{
	font-family: 'Raleway300i', sans-serif;

}

.f-raleway {
	font-family: 'Raleway', sans-serif;
	font-weight: 900
}


.policeh2{
	font-family: 'Raleway', sans-serif;
	font-weight: 900
}


.policeh4{
	font-family: 'Raleway', sans-serif;
	font-weight: 400
}


.card-title1{
	font-family: 'Raleway', sans-serif;
	font-weight: 600
	font
}

.card-title2{
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

.card-title3{
	font-family: 'Raleway', sans-serif;
	font-weight: 400
}

.card-title4{
	font-family: 'Raleway', sans-serif;
	font-weight: 600
	font
}

.card-title5{
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

.card-title6{
	font-family: 'Raleway', sans-serif;
	font-weight: 400
}









